language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6-dev"
install:
  - pip install coverage==3.7.1 tox==1.9.2 virtualenv==13.1.2
script:
  - tox
  - coverage run --rcfile=.coveragerc setup.py test -s tests.unit
after_success:
  coveralls
notifications:
  email:
    on_failure: change
sudo: false
