[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Babel = ">=2.9.1"
coverage = "*"
coveralls = "*"
Jinja2 = "*"
pip = ">=18.0"
pproxy = ">=2.2.0,<3"
pytest = "*"
recommonmark = "*"
Sphinx = "*"
sphinx-readable-theme = "*"
tox = "*"
tox-travis = "*"
virtualenv = "*"
twine = "*"


[packages]
requests = "<3,>=2.20.0"
geojson = "<3,>=2.3.0"
PySocks = "<2,>=1.7.1"
"requests[socks]" = "*"